* {
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.022em;

    color: #003F51;
    padding: 0px 10px;
    margin: 10px 0px;
    text-align: center;


    

}
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 0.5vw);
    line-height: 150%;
    letter-spacing: -0.022em;

    color: #003F51;
    padding: 0px 10px;
    margin: 10px 0px;

}
p {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-style: normal;
    font-weight: 400;
    font-size: calc(11px + 0.5vw);
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #1E1E1E;
}

.header {
    background-color: #003F51;
    text-align: center;
    height: 12%;
}

.header img {
    height: 10%;
    width: 80%;
}

/*       navbar starts here      */
.navbar {
    display: flex;
    background-color: #6A8B93;
    justify-content: flex-end;
    padding: 10px 0px;

}


.navbar .navtools {
    display: flex;
    gap: 30px;
    margin-right: 30px;
    justify-content: flex-end;


}

.navbar .navtools li {
    list-style: none;
}

.navbar .navtools li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin: 0px 7px;
}

.navbar .navtools li a:active {
    text-decoration: underline;
    color: #003F51;
    padding: 15px;
    border-radius: 20px;
}

/*  burger   **/
@media only screen and (max-width:1300px) {
    .header {
        height: 40px ;
    }
    .header img {
        height: 38px;
        width: 320px ;
    }

    .navbar .navtools {
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        transition: 0.7s ease-out;
    }

    .navbar .rightnav {
        padding: 30px 0px 0px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    /****/
    .burger {
        position: absolute;
        right: 3%;
        top: 50px;
        cursor: pointer;

    }

    .line {
        width: 33px;
        height: 3px;
        background-color: whitesmoke;
        margin: 5px 3px;
    }

    .h-nav-resp {
        height: 40px;
    }

    .v-class-resp {
        opacity: 0;
    }
}
/* about content starts here */

.about-content{
    margin: 40px ;
}





/* about content ends here */
/*************** footer starts here*************/
.footer {
    text-align: center;
    color: white;
    background-color: #003F51;
    border-radius: 5px;
}

.logos div {
    display: inline-block;
    padding: 0% 2%;
}

.logos img {
    height: 30px;
    width: 30px;
}