* {
    padding: 0px;
    margin: 0px;
}

.text h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.022em;

    color: #003F51;
    padding: 0px 10px;
    margin: 10px 0px;

}

.text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 0.5vw);
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #1E1E1E;
    text-align: center;
}


.bgpic {
    width: 100%;
    height:800px;
    background: rgba(0, 0, 0, 0.207) url(mainpic.png);
    background-size: cover;
    background-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textinpic {

    text-align: center;
    
}

.timer {
    text-align: center;
    
}
.textinpic h2{
    margin-bottom: 40px;
    font-size: calc(11px + 1vw);
}
button {
    height: 40px;
    width: 20%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #003F51;
}

button:hover {
    opacity: 60%;
    color: white;
    background: #003F51;
}

@media screen and (max-width: 600px) {
    .bgpic {
        height: 444px;
    }

    .textinpic h2{
        margin: 10px ;
    }
    .textinpic {
        font-size: x-small;
    }

    .footer {
        font-size: x-small;
    }

    .ah1 {
        font-size: medium;
    }
}

.ah1 {
    font-size: large;
}

.countdown-timer {
    pointer-events: none;
    cursor: default;
}

/****************about  starts here ******* */

.about {
    display: flex;
    justify-content: space-between;
    margin: 50px 40px;
    align-items: center;
}
.about h2{
    margin: 70px 0px ;
}

.about .text {
    max-width: 70%;
}

.about .logo {
    width: 421px;
    height: 385px;
    background: #FFDBDB;
    border: 1px solid #0D99FF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .logo img {
    width: 380.88px;
    height: 279.93px;
    padding-top: 32px;
}

@media screen and (max-width:1200px) {
    .about {
        flex-direction: column-reverse;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .about .text {
        max-width: 90%;
    }

    .about .logo {
        max-width: 320px;
        height: 300px;
        margin: 25px 0px ;
    }

    .about .logo img {
        max-width: 300px;
        height:230px ;

    }



}

/****************about  ends s here ******* */
/*************** Gallery starts here *****/

.gallary{
    margin: 50px 0px ;
}
.gallary .pics {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.gallary .gal_pic img {
    width: 600px;
    max-width: 90%;
    text-align: center;
}
.gallary h2{
    margin: 70px 40px ;
}


@media screen and (max-width:1000px) {

    .gallary .pics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gal_pic{
        margin-bottom: 40px;
    }


}

/*************** Gallery Ends  here ************/






/*************** footer starts here*************/
.footer {
    text-align: center;
    color: white;
    background-color: #003F51;
    border-radius: 5px;
    
}
.footer p{
    font-size: 13px ;
}

.logos div {
    display: inline-block;
    padding: 0% 1%;
}

.logos img {
    margin-top: 10px ;
    height: 20px;
    width: 20px;
}